<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="update_description_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Update Description</h4>
            </div>
            <div class="modal-body col-md-12">
                <label for="description">Description for Time Record</label>
                <div class="col-md-12">
                    <textarea id="description" class="form-control" row="5"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-id="update-description" id="update-time-description">Save changes</button>
            </div>
        </div>
    </div>
</div>