<!DOCTYPE html>
<html lang="en">

<head>
	<title>Welcome to Timelogger</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static 'css/styles.css' %}" type = "text/css"/>

	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
</head>

<body class="body" style="background-color:#5b5b5b">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
            <div class="col-sm-2">
                <br>
                <div style="text-align: center;">
                    <img src="https://d3heg6bx5jbtwp.cloudfront.net/static/b592/site/img/cf-beta-logo.png" class="responsive-img" style='max-height:100px;' alt="face">
                    <span>TimeLogger</span>
                </div>
            </div>
		</div>
        {% if user.is_authenticated %}
            <div class="pull-right">
                <a href="/logout" class="btn btn-danger btn-xs">Logout</a>
            </div>
            <span class="pull-right account-name">
                <strong>{{ user.last_name }}, {{ user.first_name }} </strong>
            </span>
        {% endif %}
        <br>
        <hr>

		<div class="row">
{#            <div class="col-sm-2">#}
{#                <br>#}
{##}
{#                <br>#}
{#                <!-- Great, til you resize. -->#}
{#                <!--<div class="well bs-sidebar affix" id="sidebar" style="background-color:#fff">-->#}
{#                <div class="well bs-sidebar" id="sidebar" style="background-color:#fff">#}
{##}
{#                    <ul class="nav nav-pills nav-stacked">#}
{#                        <li><a href='/'>Home</a></li>#}
{#                        <li><a href='/blog/'>Blog</a></li>#}
{#                        <li><a href='/contact/'>Contact</a></li>#}
{#                    </ul>#}
{#                </div> <!--well bs-sidebar affix-->#}
{#            </div> <!--col-sm-2-->#}
            <div class="col-sm-12">
                <div class='container-fluid'>
                    <br>
                    <br>
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
	</div>
    <div id="sampleArea">

    </div>
	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="#" target="blank">Contact</a> | <a href="#" target="blank">LinkedIn</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
		</div>
	</footer>
    {% verbatim %}
    <script id="template" type="x-tmpl-mustache">
        <h1>{{firstName}} {{lastName}}</h1>Blog: {{blogURL}}
    </script>
    {% endverbatim %}
    <script src="{% static 'js/require.js' %}"></script>
    <script src="{% static 'js/config.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>